@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

body {
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.heading{
  @apply text-dark font-inter font-semibold text-2xl md:text-[32px] text-center
}
.subHeading{
  @apply font-inter font-medium text-dark text-2xl
}
.para{
  @apply text-gray text-sm md:text-base font-normal font-inter
}
.profileSubHeading{
  @apply text-[#4f4f4f] font-medium font-inter text-base
}
.contentLayout{
  @apply flex justify-between border-b-[1px] border-solid border-[#e4e4e4]
}
.profileContent{
  @apply basis-[55%] text-[#4f4f4f] font-inter font-normal
}
::placeholder{
  font-style: italic;
}
.input{
  transition: all 0.2s ease-in-out; /* changed the timing to show the effect */
  /* border: 4px solid transparent; */
}
.input:focus {
  /* transform: scale(0.4) */
  outline: none;
  border-color: #B8D9EF;
}
.box_shaddow{
  box-shadow: 0px 2px 16.9px 0px rgba(0, 0, 0, 0.08);
}
.gradient_bg{
  background: linear-gradient(94deg, #EA4B98 7.56%, #F6722B 98.9%)
}
